{% extends 'diario/base.html' %}

{% block header %}
    <h2>{{ topicos }}</h2>
{% endblock %}

{% block content %}
    <p><a href="{% url 'novo_assunto' topicos.pk %}">Adicionar novo assunto</a></p>

        {% for entrada in entradas %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        {{ entrada.data_ent }}
                        <small>
                            <a href="{% url 'editar_assunto' entrada.pk %}">Editar assunto</a>
                        </small>
                    </h3>
                </div>
                <div class="panel-body">
                    {{ entrada.texto|linebreaks }}
                </div>
            </div><!-- panel -->
        {% empty %}
            Ainda não há assuntos registrados.
        {% endfor %}

{% endblock content %}